.container-edit-my-student-account {
    margin: 10vh;
    margin-top: 20vh !important ;
}

.edit-my-student-account-heading{
    margin-top: 15vh !important ;

}

.upload-your-photo-column {
    position: relative;
    margin-left: 25vh; 
    margin-top: -22vh !important ;
}
.button-save-student-info {
    position: relative;
    margin-bottom: 10vh;
    margin-top: 10vh;
}
