.password-form {
    border: 1px solid #ccc; /* Add border */
    padding: 5vh; /* Add padding */
    border-radius: 5px;
    margin-bottom: 20vh;
    width: 100vh;
  }

 

  .custom-input {
    background-color: #f0f0f0; /* Light gray color */
  }