
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 60px; /* Set a fixed height for the navigation */
    color : black;
    border: 1px solid #BCB1F2; /* Added border style: 1px solid */
    margin-top: 0; 
    margin-bottom: 140px;
    margin-left: 0;
    margin-right: 0;
}

.nav-item {
    text-decoration: none;
    color: inherit;
}

.justify-content-end-links {
    display: flex;
    justify-content: flex-end;
  }


  