.content-container  {
    margin: 15vh;
    
  }
  .student-training-heading{
      position: relative;
      margin-top: 200px !important;
  }

  .table-container {
    margin: 15vh ;
    margin-top: 30vh;
  }

  

