.footer-container {
    
    width: 100%;
}

.footer {
    display: flex;
    bottom: 0;
    width: 100%; 
    background-color: #f8f9fa; 
    color: #333;
    padding: 40px;
    text-align: center;
    flex-direction: column;
}
.footer hr {
    margin: 10px; 
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.footer-column {
    flex: 1;
    list-style-type: none;
}

.list-style {
    list-style-type: none;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
}

.footer-column {
    flex: 1;
    text-align: center; 
}

.footer-column:first-child {
    text-align: left; 
}

.footer-column:last-child {
    text-align: right; 
}

.footer-column .social-media {
    width: 30px; 
    height: auto; 
    display: inline;
}
