body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.content {
    flex: 1; /* Take up remaining vertical space */
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Center text horizontally */
}

/* Move h4 below h1 */
h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center text horizontally */
}

.home-heading-one {
    margin-top: 15vh;
}

.center-image {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    position: relative; /* Add position relative */
    padding-left: 30vh;
}

.home-container {
    position: relative; /* Change position to relative */
    width: 100%; /* Take up full width of the content area */
    max-width: 100vh; /* Limit maximum width */
    margin: 0 auto; /* Center horizontally */
    background: #FAFAFBFF;
    border-radius: 6px;
    padding-left: 295px; /* Add padding to accommodate the circle */
    padding-top: 25vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* Oval 1 */
.oval {
    position: absolute;
    bottom: 0;
    left: 0; /* Adjusted to left */
    width: 15vh; /* Adjust width and height as needed */
    height: 15vh; /* Adjust width and height as needed */
    background-color: #000; /* Adjust background color as needed */
    border-radius: 0 100% 0 0; /* This will make only the top right quarter visible */
    overflow: hidden;
  }

  .dots-container {
    position: absolute;
    top: 0;
    left: calc(50% - 350px); /* Move it 80px to the left */
    transform: translateX(-50%);
    z-index: 1;
    width: 13%;
    height: 100px;
    text-align: center;
    line-height: 20px;
    text-align: left;
}

/* CSS for dots */
.dots-container::before {
    content: "• • • • • • • • • • • • • • • • • • • • • • • • • • • •";
    font-size: 5px;
    color: #000;
    letter-spacing: 8px; /* Adjust spacing between dots */
}