body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.content {
    flex: 1; 
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Center text horizontally */
}

/* Move h4 below h1 */
h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center text horizontally */
    margin-top: 20vh;
}

.home-heading-one {
    margin-top: 15vh;
}
.home-heading-two {
    margin-top: 20vh;
    margin-left: 14vh;
    max-width: 80%;
    text-align: center;
}

.center-image {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    position: relative; /* Add position relative */
    padding-left: 30vh;
}

